.scroll {
    overflow-y: scroll;
    height: 70vh;

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: white;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: gray;
    }
}

mat-spinner {
    margin: 200px auto 0;
}