<div *ngIf="dataSource">
  <h1>Коментарии</h1>

    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="timeStamp">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let comment">{{ comment.timeStamp | date: "short" }}</td>
        </ng-container>
        <ng-container matColumnDef="tittle">
            <th mat-header-cell *matHeaderCellDef>Tittle</th>
            <td mat-cell *matCellDef="let comment">{{ comment.tittle }}</td>
        </ng-container>
        <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef>Text</th>
            <td mat-cell *matCellDef="let comment">{{ comment.text }}</td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="openDialog(element)"> 
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
<mat-spinner *ngIf="!dataSource"></mat-spinner>