form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}
.formGroup {
    flex: 1 0 25%;
    max-width: 25%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    padding: 0 10px 20px 10px;
    p {
        font-weight: bold;
        margin: 0 0 10px 0;
    }
    .check-filed {
        display: flex;
        align-items: flex-end;
        height: 45.5px;
        margin-bottom: 30px;
    }
    &:last-child {
        padding-bottom: 0;
    }
}

.photoTepmlate {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;
    img {
        width: 100%;
        height: auto;
    }
    input {
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}

mat-spinner {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

input.ng-pending + mat-spinner {
    display: block;
}
