.notFound {
    text-align: center;
    h3 {
        color: #2b2b2b;
    }
    img {
        max-width: 300px;
        margin: 20px 0;
    }
    button {
        margin: 0 auto;
        display: block;
    }
}
