.news-table-container {
    position: relative;
}

.mat-cell img {
    width: 50%;
    height: auto;
    border-radius: 5% 5%;
}

.mat-column-photo {
    flex: 0 0 10% !important;
    width: 10% !important;
}

.table-fab {
    position: absolute;
    right: 15px;
    top: 70px;
}

h1 {
    text-align: center;
}
