@import "./_vars";

header {
    align-items: baseline;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    margin-bottom: 20px;
}

.active {
    color: $logo-color;
}

a {
    color: inherit;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;

    &.logo {
        color: $logo-color;
        font-size: 1.5em;
        padding: 0 0.667em;
    }

    &.menu-item {
        text-transform: uppercase;
        padding: 1em;
    }
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    background: #000;
    p {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
}
