<header>
    <nav>
        <a class="logo" routerLink="/">E-Cars</a>
        <a routerLinkActive="active" class="menu-item" routerLink="/compare">Сравнить</a>
        <a routerLinkActive="active" class="menu-item" routerLink="/news">Новости</a>
        <a routerLinkActive="active" class="menu-item" routerLink="/charging">Заправки</a>
    </nav>
    <div>
        <app-authentication></app-authentication>
    </div>
</header>
<router-outlet></router-outlet>
<footer>
    <p>All rights reserved (c) {{ currentYear }}</p>
</footer>