:host {
    display: block;
    overflow: auto;
}

table {
    min-width: 100%;
}

th:nth-child(n+2) {
    text-align: center;
}

td {
    min-width: 150px;
    text-align: left;

    &:nth-child(n+2) {
        text-align: center;
    }
}

img {
    max-width: 150px;
    width: 100%;
}