button {
    font-size: 1.2em;
    font-weight: bold;

    &:hover {
        color: #116fbf;
    }
}

a {
    color: inherit;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
    
    &:hover {
        cursor: pointer;
    }
}

.active {
    color: #00ab6f;
}